.dropdownButton {
  width: 100%;
  border-radius: 10px;
  background: var(--colorprimary);
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  font-size: 1.3rem;
  border: none;
  display: flex;
  height: 3rem;
  color: var(--colorsecondary);
}

.arrow {
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

.arrow:hover {
  margin-right: 0.9rem;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  transition: 0.4s;
}

.dropdownP {
  padding: 3rem 1rem 1rem 1rem;
  border-radius: 10px;
  background: var(--colorsecondary);
  margin: 0;
  line-height: 142.6%;
  position: sticky;
  z-index: -1;
  transform: translatey(-2rem);
  color: var(--colorprimary);
}
