.emptyStar {
  width: 2rem;
  height: 2.2rem;
}

.fullStar {
  width: 2.25rem;
  height: 2.25rem;
}
@media (max-width: 768px) {
  .emptyStar {
    width: 1.625rem;
    height: 1.75rem;
  }

  .fullStar {
    width: 1.813rem;
    height: 1.813rem;
  }
}
