.emptyStar {
  width: 32px;
  height: 34px;
}

.fullStar {
  width: 36px;
  height: 36px;
}
@media (max-width: 768px) {
  .emptyStar {
    width: 26px;
    height: 28px;
  }

  .fullStar {
    width: 29px;
    height: 29px;
  }
}
