.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--colorsecondary);
  border-radius: 25px;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
}

.productItem {
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  overflow: hidden;
  max-width: 21.25rem;
  width: 100%;
  height: 100%;
  max-height: 21.25rem;
  margin: 1.5%;
  padding: 1rem 1rem 0 1rem;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    var(--colorprimary) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.productItem img:hover {
  box-shadow: 2px 2px 15px var(--colorsecondary);
  cursor: pointer;
  transform: scale(1.02, 1) translateY(0.1%);
  transition: 0.4s;
}

.productItem:hover {
  box-shadow: 2px 2px 7px 0px grey;
  cursor: pointer;
  transform: scale(1.02, 1) translateY(0.1%);
  transition: 0.4s;
}

@media (max-width: 803px) {
  .productItem {
    max-width: 45.3rem;
    max-height: 37.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .gallery {
    width: 91%;
    background: none;
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.productImg {
  width: 100%;
  height: 16.875rem;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.productTitle {
  color: var(--colorwhite);
  height: 3.125rem;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
