.contactHost {
  width: 4rem;
  border-radius: 100%;
}
.contactName {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--colorprimary);
  margin-top: 1rem;
}
.contactName p {
  width: 39%;
  line-height: 142.6%;
  margin: 0 10px 0 0;
}
