.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 3rem;
  background: var(--colorblack);
  color: var(--colorwhite);
}

.footerText {
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  color: var(--colorwhite);
}
